@media (min-width: 300px) {
    main {
        height: 500px;
    }

    main>.main-img {
        width: 281px;
    }

    .nft-creator {
        padding: 9px 0 0 0;
    }

    .nft-name {
        font-size: 22px;
        margin: 23px 0 12px;
    }

    .nft-label {
        padding: 16px 0 7.5px;
    }

    .nft-price,
    .nft-days {
        gap: 7px;
    }
}

@media (min-width: 700px) {
    main {
        height: 527px;
    }

    main>.main-img {
        width: 290px;
    }

    .nft-creator {
        padding: 7px 0 0 0;
    }

    .creation-name {
        display: flex;
        gap: 5px;
    }

    .nft-name {
        font-size: 21px;
        margin: 23px 0 16.6px;
    }

    .nft-caption {
        font-size: 17.3px;
    }

    .nft-label {
        padding: 23px 0 13.5px;
    }

    .nft-price,
    .nft-days {
        gap: 7px;
    }
}

html,
body {
    padding: 0;
    margin: 0;
    color: hsl(215, 51%, 70%);
    font-family: outfit;
}

.attribution {
    width: 100%;
    font-size: 11px;
    text-align: center;
    position: fixed;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.container {
    height: 100vh;
    width: 100%;
    background-color: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    /* height: 500px; */
    width: min-content;
    background-color: hsl(216, 50%, 16%);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 24px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

main>.main-img {
    /*width: 281px;
    */
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    position: relative;
    background: url("images/image-equilibrium.jpg");
    aspect-ratio: 1;
    background-size: contain;
}

main>.main-img::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: hsla(178, 100%, 50%, 50%);
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    -ms-border-radius: inherit;
    -o-border-radius: inherit;
    opacity: 0;
    display: block;
    transition: all 250ms ease;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
}

main>.main-img:hover::before,
main>.main-img:hover svg {
    opacity: 1;
}

.main-img svg {
    transition: all 250ms ease;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.nft-name {
    color: white;
    /* font-size: 22px; */
    font-weight: 600;
    /* margin: 23px 0 12px; */
}

.nft-name:hover,
.nft-creator .name:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.nft-caption {
    line-height: 26px;
}

main .nft-label {
    display: flex;
    justify-content: space-between;
    /* padding: 16px 0 7.5px; */
}

.nft-label .nft-price {
    display: flex;
    align-items: center;
    /* gap: 7px; */
    color: hsl(178, 100%, 50%);
    font-size: 15.5px;
}

.nft-label .nft-days {
    display: flex;
    align-items: center;
    /* gap: 7px; */
    font-size: 15.5px;
}

hr {
    width: 100%;
    border: hsl(215, 32%, 27%) solid 1px;
    width: -webkit-fill-available;
}

.nft-creator {
    display: flex;
    align-items: center;
    /* padding: 9px 0 0 0; */
    gap: 16px;
    font-size: 15.5px;
}

.nft-creator .name {
    color: white;
}

.nft-creator img {
    width: 30px;
    border: 1.5px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}